<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-md-7">
                <p>Hello, {{request.session.user_firstname}}</p>
            </div>

            
            <div class="col-auto">
                <a href="/logout">Log Out</a>
            </div>
        </div>


        <div class="row justify-content-center">
            <h3>Job Listings</h3>
        </div><br>
        <div class="row justify-content-center">
            <div class="col-md-6 offset-2">
                <table class="table table-bordered">

                    <thead>
                        <th scope="col">Job</th>
                        <th scope="col">Location</th>
                        <th scope="col" class="justify-content-center">Actions</th>
                    </thead>
                    {%for job in alljobs%}
                    <tr class="table-row">
                        <td>{{job.title}}</td>
                        <td class="tableheader">{{job.location}}</td>
                        <td class="tableheader"><a href="/view_job/{{job.id}}">View </a>

                            <!-- <a href="/addjobtolist/{{job.id}}">Add |</a> -->
                            <!-- #include if statement -->
                            {%if job.user.id == request.session.user_id%}
                            <a href="/removejob/{{job.id}}">| Remove |</a>
                            <a href="/editjob/{{job.id}}">Edit</a>

                            {%endif%}

                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div class="col-md-2 my-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <p>Have another job to add?</p>
                        <a href="/newjob" class="btn btn-primary">Click Here!</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>My Jobs</h2>
        </div>
        <div class="row"></div>
        {%for job in currentuser.assignedjobs.all%}
        <div class="row">
        <p>{{job.title}} 
            <form method="POST" action = "/deletejobfromlist/{{job.id}}">
                {% csrf_token %}
           <input type="submit" value="Remove">
            </form>
        
        </p><br>
    </div>
        {%endfor%}
    </div>
   


</body>

<style>
    .newjobbutton {
        margin-left: 300px;
    }

    .tableheader {

        padding-left: 80px;
        color: black;
    }
</style>

</html>