<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Hello, {{request.session.user_firstname}}</p>
            </div>

                <div class="col">
                    <a class="newjobbutton" href="/newjob">Click to Add New Job!</a>
                </div>
                <div class="col">
                    <a href="/logout">Log Out</a>
                </div>
        </div>



        <h3>All Jobs Here</h3>
            <table class="table table-striped">
               
                <thead>
                    <th scope="col">Job</th>
                    <th scope="col">Location</th>
                    <th scope="col" class="justify-content-center">Actions</th>
                </thead>
                {%for job in alljobs%}
                <tr class="table-row">
                    <td>{{job.title}}</td>
                    <td class="tableheader">{{job.location}}</td>
                    <td class="tableheader"><a href="/view_job/{{job.id}}">View |</a>

                        <a href="/addjobtolist/{{job.id}}">Add |</a>
                        <!-- #include if statement -->
                        {%if job.user.id == request.session.user_id%}
                        <a href="/removejob/{{job.id}}">Remove |</a>
                        <a href="/editjob/{{job.id}}">Edit</a>

                        {%endif%}

                </tr>
                {%endfor%}
            </table>
            <table>
                <thead>
                    <th>Jobs</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {%for job in jobs_to_add.all%}
                    <tr>
                        <td>{{job_to_add.title}}</td>
                        <td>chicken</td>
                    </tr>
                    {%endfor%}
                </tbody>

            </table>


        </div>
</body>

<style>
    .newjobbutton {
        margin-left: 300px;
    }

    .tableheader {

        padding-left: 80px;
        color: black;
    }
</style>

</html>