<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <!-- {% if messages %}
     <ul class="messages">
         {%for message in messages%}
             <li {%if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
         {% endfor %}
     </ul>
     {% endif %} 
     <form action = "/updatejob/{{job.id}}" method='POST'>
        {% csrf_token %}
        <p>Job Title:<input type="text" value="{{job.title}}"" name="title"></p> 
        <p>Job Description:<input type="text" value="{{job.description}}"" name="description"></p> 
        <p>Job Location:<input type="text" value= "{{job.location}}"" name="location"></p> 
        <input type="submit" value="Submit">

    </form> 
    <form action = "/success", method='POST'>
        {% csrf_token %}
        <input type="submit" value="Cancel">
    </form> -->

    <!-- ///////////////// -->

    <div class="container-fluid">

        
            <div class="row justify-content-between">
                <div class="col-10">
                    <p>Hello, {{request.session.user_firstname}}</p>
                </div>
                <div class="col-auto">
                    <a href="/success">Back</a>

                </div>
                <div class="col-auto">

                    <a href="/logout">Log Out</a>
                </div>



            </div><br><br>

            <div class="row justify-content-center">
                <h3>Edit Your Job </h3>
            </div><br><br>
            <div class="row justify-content-center">
                {% if messages %}
                <ul class="messages">
                    {%for message in messages%}
                    <li {%if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="row justify-content-center">
                <form action="/updatejob/{{job.id}}" method='POST'>
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Job Title:</label>
                        <div class="col-sm-7">
                            <input class="form-control" value="{{job.title}}" type="text" name="title">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Job Description:</label>
                        <div class="col-sm-7">
                            <input type="text" value="{{job.description}}" class="form-control" name="description">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Job Location:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" value="{{job.location}}" name="location"><br>
                            <input type="submit" class="btn btn-primary" value="Update Job">

                        </div>
                    </div>


                </form>
            </div>
        </div>




</body>

</html>