<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="chicken">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        <h2>Registration</h2>
        
        </ul>
        
        <form action="/create_user" method="POST">
            {% csrf_token %}
            <p>First Name: <input type="text" name="firstname"></p>
            <p>Last Name: <input type="text" name="lastname"></p>
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <p>Confirm PW: <input type="password" name="confirmpassword"></p>
            <input type="submit" value="Register">
        </form>
    </div>

    <div class="chicken login">
        <h2>Log in to account</h2>
        <form action ="/login" method="POST">
            {% csrf_token %}
            <p>Email: <input type="text" name='email'></p>
            <p>Password: <input type="password" name='password'></p>
            <input type="submit" value="Log In">

        </form>
    </div>


</body>
<style>
    .chicken {
        display: inline-block;
        vertical-align: top;
    }

    .login {
        margin-left: 100px;
    }
</style>

</html>